body{
    font-size: 17px;
}

.main-container{

    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 53px;
    
}
.question{
    font-weight: bold;
    cursor: pointer;
}
.answer{
    display: none;
}
.answer.open {
    display: block;
    transition: 1s ease; 
}

@media (max-width : 768px){
    .question{
        font-size: 15px;
    }
}