body{
    background-color: rgb(175, 172, 172);
}
*{
    padding: 0;
    margin: 0;
}
.login-container{  
    background-color: white;
    cursor: pointer;
    width: 50%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  
}

.credentials{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.res-password{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}
.credentials .input{
    width: 80%;
    margin-bottom: 20px;
    height: 30px;
}

.reset-password{
    color: #f1a310;
    padding-bottom: 8px;
}
.register{
    color: #358f02;
    padding-top: 8px;
}
a{
    text-decoration: none;
}
.message-success {
    color: green;
}
.message-error {
    color: red;
}

input[type=submit]{
    width: 50%;
    background-color: #f68b1e;
    border: none;
    color: white;
    height: 30px;

}
@media (max-width: 768px) {
    body{
        background-color: white;
    }
    .login-container{ 
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }


}
