
.profile{
    margin-top: 1px;
    display: inline-block;
    width: 79.5%;
    border: 1px solid rgb(21, 255, 71);
    vertical-align: top;
    height: 90vh;
  
}
.container{
    width: 100%;
    text-align: center;
}
.profile-image{
    background-color: #171923;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-camera:before {
    color: black;
}
.dp{
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}
.dp img{
   
    max-width: 100%;
    max-hedight: 100%;
    object-fit: cover;

}
.camera{
    background-color: white;
}
fa fa-camera{
    background-color: white;
    color: white;
    width: 50%;
}

span{
    font-size: large;
    font-weight: 900;
}
p{
    margin: 20px;
}
@media (max-width: 768px) {
    .profile{
        width: 68%;
        vertical-align: top;
        border: 1px solid white;
        height: 90vh;
      
    }
    .profile-image{
        height: 140px;
    }

    .dp{
        height: 120px;
        width: 120px;
    }
    p{
        margin: 15px;
        margin-left: 0;
    }
    span{
        font-size: 16px;
        font-weight: bold;
    }
    .profile-credentials{
        text-align: left;
    }
}
