*{
   padding: 0;
   margin: 0;
}
body{
    background-color: rgb(235, 225, 225);
}

.rent-property{
   display: none; 
}
.main-container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 53px;
    position: relative;
}

.main-container a{
    color: black;
}

.search-container{
    background-color: white;
    width: 60%;
    height: auto;
    /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); */
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 3px;
    box-shadow:  5px 0 5px rgba(0, 0, 0, 0.5),
                 0 -5px 5px rgba(0, 0, 0, 0.5), /* Top side */
                 0 5px 5px rgba(0, 0, 0, 0.5); /* Bottom side */
                 /* -5px 0 5px rgba(0, 0, 0, 0.5), Left side  left*/
}

.adverts{
    background-color: rgb(11, 10, 27);
    color: white;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    vertical-align: top;
    width: 35%;
    font-size: 17px;
    border-radius: 3px;
}
p{
    margin: 5px;
}
.social-icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.size , .location{
    display: inline-block;
    width: 30%;
}
.size input , .location input{
    width: 100%;
}
.min-rent , .max-rent{
    display: inline-block;
    width: 30%;
}

input{
    display: block;
    width: 30%;
    height: 30px;
    justify-content: center;
    margin-bottom: 10px;
}
label{
    display: block;
    font-weight: bold;
    font-size: 18px;
}
span{
    display: block;
    padding: 5px 0;
}
.search-btn{
    background-color: rgb(37, 35, 35);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 14px;
}
form{
   width: 90%;
   margin-left: auto;
   margin-right: auto;
    
}


.houses-container{
    background-color: white;
    width: 24%;
    display: inline-block;
    border-top-left-radius: 5px; /* Adjust the radius value as needed */
    border-top-right-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid black;
    vertical-align: top;
   
}
.photo {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.photo img{
    max-width: 100%;
    max-heiyght: 100%;
    object-fit: cover;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.cost{
    width: 100%;
    color: white;
    border: none;
    background-color: rgb(38, 216, 38);
    height: 30px;
    text-align: center;
    font-weight: bold;
}
@media (max-width: 768px) {
    .main-container{
        width: 100%;
    }
    .search-container{
        width: 100%;
        margin-top: 5px;
    }
    .adverts{
        display: none;
        width: 100%;
        margin-bottom: 5px;
    }
    .houses-container{
        width: 47%;
        margin-left: 5px;
        margin-right: 0;
        height: 300px;
    }
    .photo {
        height: 200px;
    }
    .size , .location{
       
        width: 47%;
    }
    .min-rent , .max-rent{
        width: 45%;
    }
    input{
        width: 70%;
    }
    form{

        width: 95%;
    }
    p{
        margin: 2px;
    }
}
