.main-container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 53px;
}
a{
    text-decoration: none;
    color: black;
}

.houses-container{
    background-color: white;
    width: 24%;
    display: inline-block;
    border-top-left-radius: 5px; /* Adjust the radius value as needed */
    border-top-right-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    vertical-align: top;
    border: 1px solid rgb(38, 216, 38);
   
}
.photo {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.photo img{
    width: 100%;
    max-heidght: 100%;
    object-fjit: cover;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
p{
    margin: 5px;
}
.cost{
    width: 100%;
    color: white;
    border: none;
    background-color: rgb(38, 216, 38);
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width: 768px) {
    .main-container{
        width: 100%;
    }
    .houses-container{
        width: 47%;
        margin-left: 5px;
        margin-right: 0;
        
    }
    .photo {
        height: 170px;
    }
    p{
        margin: 2px;
    }
}
