.main-container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 53px;
}
a{
    text-decoration: none;
    color: black;
}


a.dark-mode {
    color: white;
}

.dark-mode .houses-container{
    background-color: rgb(32, 31, 31);
    color: white;
}

.dark-mode .cost{
    background-color: rgb(32, 31, 31);
    color: white;
}


.houses-container{
    width: 24%;
    display: inline-block;
    border-top-left-radius: 5px; /* Adjust the radius value as needed */
    border-top-right-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    vertical-align: top;
}
.photo {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.photo img{
    width: 100%;
    max-heidght: 100%;
    object-fjit: cover;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
p{
    margin: 5px;
}
.cost{
    width: 100%;
    color: white;
    border: none;
    background-color: rgb(10, 10, 10);
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button 20px from the bottom */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it's on top of other content */
    font-size: 18px; /* Increase font size */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #333; /* Black background color */
    color: white; /* White text color */
    cursor: pointer; /* Add a pointer cursor on hover */
    padding: 15px; /* Add some padding */
    border-radius: 10px; /* Rounded corners */
  }

@media (max-width: 768px) {
    .main-container{
        width: 100%;
    }
    .houses-container{
        width: 47%;
        margin-left: 5px;
        margin-right: 0;
        
    }
    .photo {
        height: 170px;
    }
    p{
        margin: 2px;
    }
}
