
.buy-property{
    display: none;
}
.main-container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 53px;
}

.property-container{
    background-color: white;
    width: 24%;
    display: inline-block;
    border-top-left-radius: 5px; /* Adjust the radius value as needed */
    border-top-right-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid black;
   
}
.photo {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.photo img{
    max-width: 100%;
    max-heisght: 100%;
    object-fit: cover;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
p{
    margin: 5px;
}
.cost{
    width: 100%;
    color: white;
    border: none;
    background-color: rgb(38, 216, 38);
    height: 30px;
    text-align: center;
    font-weight: bold;
}
