{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'developer-properties.css' %}">
</head>
<body>
<div class="main-container">
    <table>
        <thead>
            <tr>
                <td>#</td>
                <td>photo</td>
                <td>size</td>
                <td>location</td>
                <td>edit</td>
                <td>delete</td>
            </tr>
        </thead>

        <tbody>
            {% for property in properties reversed %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <div class="image">
                        <img src="{{property.photos.url}}" alt="">
                    </div>

                </td>
                <td>{{property.size}}  {{property.property_type}}</td>
                <td>{{property.location}}</td>
                
               
                <td>
                    {% if property in properties_on_sale %}
                    <div class="edit-cont">
                        <a class="edit" href="edit_property/{{property.id}}">Edit</a>
                    </div>
                    
                    {% elif property in properties_for_renting %}
                    <a class="edit" href="edit_rental/{{property.id}}">Edit</a>
                    {% endif %}

                </td>
                
                <td>
                    {% if property in properties_on_sale %}
                    <a class="delete" href="delete_property/{{property.id}}">Delete</a>

                    {% elif property in properties_for_renting %}
                    <a class="delete" href="delete_rental/{{property.id}}">Delete</a>
                    {% endif %}
                </td>
           

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <!-- Edit property form goes here -->
            <h2>Are you sure you want to delete </h2>
            {% if property in properties_on_sale %}
            <form action="delete_property/{{property.id}}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>
                   {{property.property_type}} in {{property.location}}
                </h3>
                <input type="submit" value="Delete">
            </form>
            {% elif property in properties_for_renting %}
            <form action="delete_rental/{{property.id}}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>
                    {{property.size}} in {{property.location}}
                 </h3>
                <input type="submit" value="Delete">
            </form>
            {% endif %}
        </div>
    </div>
</tr>
{% endfor %}          
</tbody>
</table>
    
    <script>
        // JavaScript to handle modal functionality
        document.addEventListener("DOMContentLoaded", function() {
            var modal = document.getElementById("myModal");
            var editLinks = document.querySelectorAll(".delete");

            editLinks.forEach(function(link) {
                link.addEventListener("click", function(event) {
                    event.preventDefault();
                    modal.style.display = "block";
                });
            });

            var closeModalButton = document.querySelector(".close");
            closeModalButton.addEventListener("click", function() {
                modal.style.display = "none";
            });

            window.addEventListener("click", function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            });
        });
    </script>
</div>
    
</body>
</html>