
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/realestatelogo.png' %}">
    <link rel="stylesheet" href="{% static 'developer.css' %}">
    <title>J.L.C limited</title>
</head>
<body>
    <div class="main-container">
        <div class="header">
            <div class="logo">
                <img src="{% static 'images/realestatelogo.png' %}" alt="">
            </div>
            <div class="greet">
                <h3>welcome {{developer.name}}</h3>
            </div>
        </div>
        <div class="link-container">
            <div class="left-container">
                <ul>
                    <li><a href="/developer-profile">Profile</a></li>
                    <li><a href="/developer_properties">My Properties</a></li>
                    <li><a href="/post_rentals">Post house</a></li>
                    <li><a href="/sell_property">Sell property</a></li>
                   
                </ul>

                <div>
                    <div class="terms">
                        <a class="pc" href="/terms-and-conditions" target="_blank">Terms and conditions</a>
                        <a class="phone" href="/terms-and-conditions">T&C</a>
                    </div>
    
    
                    <a href="/logout">
                        <div class="log-out">
                             <span>Logout</span>
                        </div>
                    </a>
                </div>
                
            </div>
            
        </div>
    
    {% block content%}    
    {% endblock%}
</div>
</body>
</html>