{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'developer-properties.css' %}">
</head>
<body>
<div class="main-container">
    <table>
        <thead>
            <tr>
                <td>#</td>
                <td>photo</td>
                <td>size</td>
                <td>location</td>
                <td>edit</td>
                <td>delete</td>
            </tr>
        </thead>

        <tbody>
            {% for property in properties %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <div class="image">
                        <img src="{{property.photos.url}}" alt="">
                    </div>

                </td>
                <td>{{property.size}}  {{property.property_type}}</td>
                <td>{{property.location}}</td>
                
               
                <td>
                    {% if property in properties_on_sale %}
                    <a href="edit_property/{{property.id}}">Edit</a>

                    {% elif property in properties_for_renting %}
                    <a href="edit_rental/{{property.id}}">Edit</a>
                    {% endif %}

                </td>
                
                <td>
                    {% if property in properties_on_sale %}
                    <a href="delete_property/{{property.id}}">Delete</a>

                    {% elif property in properties_for_renting %}
                    <a href="delete_rental/{{property.id}}">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
</body>
</html>