{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
</head>
<body>
    <header>
        <div class="nav-bar">
            <div class="logo-header">
                <img src="{% static 'images/realestatelogo.png' %}" alt="">
             </div>
                <h4 class="phone-contact"><i class="fa fa-phone" aria-hidden="true"></i> +254769624433</h4>
                <h4 class="your-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Njoro,Nakuru</h4>
            
            <div class="btn">
                <a href="/buy_property">
                    <div class="buy-property">
                         Buy Property
                    </div>
                </a>
    
               <a href="/view_property">
                    <div class="rent-property">
                        Rentals
                    </div>
                </a>
            </div>
            
        </div>
    </header>

    {% block content%}    
    {% endblock%}
<footer>
    <div class="logo">
         <div class="logo-image">
            <img src="{% static 'images/realestatelogo.png' %}" alt="">
         </div>
         <h3>J.L.C limited</h3>
        
        <p> &copy; <script>document.write(new Date().getFullYear())</script> J.L.C  <span>All rights reserved</p></span>
        
    </div>

    <div class="footer-container">

        <div class="company">
            <P>Company</P>
            <a href="">About</a>
            <a href="https://maps.app.goo.gl/eKKyjDRfYyHFNHXJ8" target="_blank">Location</a>
            <a href="">Terms and Conditions</a>
        </div>

        <div class="support">
            <P>Support</P>
            <a href="" >Contact</a>
            <a href="">Email Us</a>
            <a href="/faqs">FAQS</a>
        </div>
    </div>
</footer>
</body>
</html>