{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <title>J.L.C limited</title>
</head>
<body>
    <div class="main-container">

        <div class="logo">
             <div class="image">
                 <img src="{% static 'images/realestatelogo.png' %}" alt="">
             </div>
             <p style="font-weight: bold;">J.L.C limited</p>
             <p>Linking Spaces, Building Connections</p>
        </div>

        <div class="content">
            
            <a href="/login">
                <div class="developer">
                   <span>Property Owner</span>
                </div>
            </a>
           

            <a href="/view_property">
                <div class="tenant">
                    <span>Search Property</span>
                </div>
           </a>
        </div>
        
    </div>
</body>
</html>