{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'on-sale-edit.css' %}">
    <title>J.L.C limited</title>
</head>
<body>
    <div class="main-container">
      
        <form action="/edit_property/{{property_on_sale.id}}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        
            <span>Features</span> 
            <textarea name="features" >{{ property_on_sale.features }}</textarea>
            
           
          
            <span>Price</span> 
            <input type="number" name="price" value="{{property_on_sale.price}}">
            

        
            <span>Deposit</span> 
            <input type="number" name="deposit" value="{{property_on_sale.deposit}}">
           

            
            <span>Payment process</span> 
            <textarea name="payment_process" >{{property_on_sale.payment_process}}</textarea>
           
            
           
            <span>Contact</span> 
            <input type="text" name="contact" value="{{property_on_sale.contact}}">
           
            <input class="save" type="submit" value="save">
            
      
        </form>
        
    </div>
</body>
</html>