{% extends 'header.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'on_sale_property_details.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>property details</title>
    <style>
        .buy-property{
            display: none;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="image-container">
            <img src="{{on_sale_property.photos.url}}" alt="">
        </div>

        {% if on_sale_property.video %}
        <div class="video-container">
            <video class="video" src="{{on_sale_property.video.url }}" controls autoplay loop muted>
                Your browser does not support the video tag.
        </div>
        {% endif %}
        <div class="about">
        
            <div class="about-property">
                <p>Property type : {{on_sale_property.property_type}}</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{on_sale_property.location}}</p>
                
                <p>Price : ksh {{on_sale_property.price|intcomma }}</p>

                
                <p>payment_process : {{on_sale_property.payment_process}}</p>
                {% if on_sale_property.pin_location %}

                <a href="{{on_sale_property.pin_location}}" target="_blank">
                    <div class="google-map">
                        <img src="{% static 'images/googlemapslogo.webp' %}" alt="googlemaps">
                        
                    </div>
                   
                </a>

                {% endif %}
            </div>
        </div>
        {% if features_list %}
        
        <div class="Features">
            <h3 style="text-align: center; text-decoration: underline;">Features</h3>
            <ul>
                {% for features in features_list %}
                <li>{{features}}</li>
                {% endfor %}
            </ul>
        </div>
        
        {% endif %}
        <div class="book">
            <div class="contact">
                <a href="tel:{{on_sale_property.contact}}">
                    <div class="call-owner">
                        <p>Call Owner</p>
                       
                    </div>
                </a>
    
                <a href="https://wa.me/{{on_sale_property.contact}}" target="_blank" rel="noopener noreferrer">
                    <div class="whatsapp-owner">
                        <p>WhatsApp</p>
                    </div>
                </a>
            </div>
            
        </div>
        <hr>
        
        {% if related_property %}
        
        <h3 style="text-align: center;">Other reated properties</h3>
        <div class="property-in-the-area">
            {% for property in related_property %}
            <div class="property-container">
            
                <div class="photo">
                     <img src="{{property.photos.url}}">
                </div>
                <div class="details">
                     <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{property.location}}</p>
                     <p>{{property.property_type}}</p>
                     
                </div>
         
                <div class="cost">
                 <p style="padding-top: 5px;">ksh {{property.price|intcomma }} per month</p>
                     
                </div>
            
             </div>
             {% endfor %}
             {% endif %}
        </div>
      
    </div>
    {% endblock %}
</body>
</html>