{% extends 'developerpage.html'%}
{% load static %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'profile-update.css' %}">
    <title>Developer profile update</title>
</head>
<body>
   <div class="profile">
        <div class="container">
            <form method="POST" action="/developer-profile-update" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="save">
            </form>
        </div>
    </div>
    {% endblock %}    
</body>
</html>
