<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
      
        <form action="/edit_property/{{property.id}}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
           
           
            <p>apartment name</p> <input type="text" name="apartment_name" value="{{property_for_renting.apartment_name}}">
            <hr>
            <p>Size</p> <input type="text" name="size"  value="{{property_for_renting.size}}">
            <hr>
            
            <p>Features</p> 
            <textarea name="features" cols="30" rows="10">{{ property_for_renting.features }}</textarea>
            <hr>
            <p>price</p> <input type="number" name="price" value="{{property_for_renting.price}}">
            <hr>
            <p>deposit</p> <input type="number" name="deposit" value="{{property_for_renting.deposit}}">
            <hr>

            <p>water fee</p> <input type="number" name="water_fee" value="{{property_for_renting.water_fee}}">
            <hr>
            <p>garbage_fee</p> <input type="number" name="garbage_fee" value="{{property_for_renting.garbage_fee}}">
            <hr>
           <p>contact</p> <input type="text" name="contact" value="{{property_for_renting.landlord_contact}}">
            <hr>
            <input class="save" type="submit" value="save">
            <hr>
      
        </form>
        
    </div>
</body>
</html>