{% extends 'header.html' %}
{% load static %}
{% load humanize %}
{% block body_class %}
    {% if dark_mode %}
        dark-mode
    {% else %}
        light-mode
    {% endif %}
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'rentaldetails.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <title>house details</title>
    <style>
        .rent-property{
            display: none;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="swiper-parent-container">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Main image slide -->
                    <div class="swiper-slide">
                        <img src="{{ rental.main_image.url }}" alt="">
                    </div> 
                     
                    <!-- Other images slides -->
                    {% for photo in photos %}
                    <div class="swiper-slide">
                        <img src="{{ photo.image.url }}" alt="Product Image">
                    </div>
                    {% endfor %}
                </div>
        
                <!-- Custom pagination -->
                <div class="swiper-pagination"></div>
                
                <!-- Navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                
                <button class="play-button"><i class="fa fa-play" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        {% if rental.video %}
        <div class="video-container">
            <video class="video" src="{{rental.video.url }}" controls autoplay loop muted>
                Your browser does not support the video tag.
        </div>
        {% endif %}
        <div class="about">
        
            <div class="about-house">
                <p>House type : {{rental.size}}</p>
                <p>Location :  {{rental.location}}</p>
                 <p>Apartment Name : {{rental.apartment_name}}</p>
                <p>Rent per month : ksh {{rental.price|intcomma }}</p>
                <p>Deposit : {{rental.deposit|intcomma }}</p>
                <p>Water cost : {{rental.water_fee}}</p>
                <p>Garbage cost : {{rental.garbage_fee}}</p>
                 

               {% if on_sale_property.pin_location %} 
                <a href="{{on_sale_property.pin_location}}" target="_blank">
                    <div class="google-map">
                        <img src="{% static 'images/googlemapslogo.webp' %}" alt="googlemaps">
                        
                    </div>
                   
                </a>

                {% endif %}
            </div>
        </div>
        {% if features_list %}
        
        <div class="Features">
            <h3 style="text-align: center;">Features</h3>
            <ul>
                {% for features in features_list %}
                <li>{{features}}</li>
                {% endfor %}
            </ul>
        </div>
        
        {% endif %}
        <div class="book">
            <div class="contact">
                <a href="tel:{{rental.landlord_contact}}">
                    <div class="call-landlord">
                        <p>Call landlord</p>
                       
                    </div>
                </a>
    
                <a href="https://wa.me/{{rental.landlord_contact}}" target="_blank" rel="noopener noreferrer">
                    <div class="whatsapp-landlord">
                        <p>WhatsApp</p>
                    </div>
                </a>
            </div>
            
        </div>
        <hr>
        {% if related_rentals %}
        
        <h3 style="text-align: center; ">Other Houses in this area</h3>
        <div class="houses-in-the-area">
            {% for rental in related_rentals %}
            <a href="/property_details/{{rental.id}}">
                <div class="houses-container">
            
                    <div class="photo">
                         <img src="{{rental.main_image.url}}">
                    </div>
                    <div class="details">
                         <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{rental.location}}</p>
                         <p>{{rental.size}}</p>
                         
                    </div>
             
                    <div class="cost">
                     <p style="padding-top: 5px;">ksh {{rental.price|intcomma }} per month</p>
                         
                    </div>
                
                 </div>
            </a>
            
            {% endfor %}
            {% endif %}
        </div>
        <button onclick="scrollToTop()" id="scrollToTopBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

        <script src="{% static 'home-btn.js'%}"></script>
        <script src="{% static 'swipper.js'%}"></script>    
    </div>
    {% endblock %}
</body>
</html>