{% extends 'header.html'%}
{% load static %}
{% load humanize %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'rentals.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <title>Rentals</title>
</head>
<body>

    <div class="main-container">
        <div class="search-container">
            <div class="form">
                <form method="POST" action="/search_rentals">
                    {% csrf_token %}
                    <div class="size">
                        <label for="Size">Size </label>
                        <span>filter by Size</span>
                        <select name="Size" id="size-filter">
                            <option value="">Select Size</option>
                            <option value="single room">Single Room</option>
                            <option value="Double room">Double Room</option>
                            <option value="Bedsitter">Bedsitter</option>
                            <option value="1 Bedroom">1 Bedroom</option>
                            <option value="2 Bedrooms">2 Bedrooms</option>
                            <option value="3 Bedrooms">3 Bedrooms</option>
                            <option value="4 Bedrooms">4 Bedrooms</option>
                            <option value="5 Bedrooms">5 Bedrooms</option>
                            <option value="Above 5 Bedrooms">Above 5 Bedrooms</option>
                        </select>
                    </div>
                    
                    <div class="location">
                        <label for="search-location">Location </label>
                        <span>fiter by location</span>
                        <input type="search" name="location" placeholder="location">
                    </div>
    
                    
    
                    <label for="Rent">Rent </label>
                    <span>filter by range</span>
                    <input type="number" class="min-rent" name="min-rent" placeholder="min-rent">
                    <input type="number" class="max-rent" name="max-rent" placeholder="max-rent">
    
                  
                    <label for="Features">Features </label>
                    <span>filter by features</span>
                    <input type="search" name="Features" placeholder="Features"> 
                    <input type="submit" class="search-btn" value="search">
                </form>
            </div>
            
        </div>


        <div class="adverts">
            <p>Jeff limited is a company in kenya helping house and land owners get clients for their properties</p>
            <p>We are provide a safe platform for you to buy a property(Land,House etc) in kenya</p>
            <p>We also connect landlords with potential tenants </p>
            <p>call us through <b>+254769624433</b></p>
            <div class="social-icons">
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-map-marker" aria-hidden="true"></i></a>
            </div>
        </div>

        {% for rental in rentals reversed %}
        <a href="/property_details/{{rental.id}}">
            <div class="houses-container">
                <div class="photo">
                     <img src="{{rental.photos.url}}">
                </div>
                <div class="details">
                     <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{rental.location}}</p>
                     <p>{{rental.size}}</p>
                     
                </div>
     
                <div class="cost">
                     <p style="padding-top: 5px;">ksh {{ rental.price|intcomma }} per month</p>
                 
                </div>
     
             </div>
        </a>
        
        {% endfor %}

    <button onclick="scrollToTop()" id="scrollToTopBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

    <script src="{% static 'home-btn.js'%}"></script>
    </div>
    {% endblock %}    
</body>
</html>