{% extends 'header.html'%}
{% load static %}
{% load humanize %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'search_property_on_sale.css' %}">
    <title>Search rentals</title>
</head>


<body>
<div class="main-container">
    {% if properties %}
    {% for property in properties %}
    <a href="view_property_on_sale_details/{{property.id}}">
        <div class="property-container">
        
            <div class="photo">
                 <img src="{{property.main_photo.url}}">
            </div>
            <div class="details">
                 <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{property.location}}</p>
                 <p>{{property.property_type}}</p>
                 
            </div>
     
            <div class="cost">
             <p style="padding-top: 5px;">ksh {{property.price|intcomma }}</p>
                 
            </div>
     
         </div>
    </a>
   
    {% endfor %}
    {% else %}
    <h3 style="color: red;">search doesn't match any property </h3>
    {% endif %}

    <button onclick="scrollToTop()" id="scrollToTopBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

    <script src="{% static 'home-btn.js'%}"></script>

</div>
{% endblock %}     
</body>
</html>